include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include example/reflc_n_trans_coef.npz
include example/GISAXS_*
include example/w_initial.npz

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include unwarp_gisaxs/_version.py

# If including data files in the package, add them like:
# include path/to/data_file
